/* Define custom variables */
:root {
    --primaryColor: darkcyan;
    --secondaryColor: rgb(40, 67, 67);
    --alternativeColor: rgb(119, 153, 214);
    --reddishColor: rgb(102, 11, 11);
    --whiteColor:white;
    /* none | h-offset (X) v-offset (Y) blur spread color |inset|initial|inherit*/
    --mainBoxShadow: .3vw .3vw 1vw rgba(0, 0, 87, 11);
}
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Index Styling */
/* Body Styles */
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden !important;
    max-height: 100vh;
    max-width: 100%;
    /* background-image: linear-gradient( #000428, #004e92, #bdc3c7, #2c3e50); */
}
.bgc-img {
    background-image: linear-gradient( rgba(0, 4, 40, 0.7), rgba(0, 78, 146, 0.75), rgba(189, 195, 199, 0.7)),url(https://i.postimg.cc/W1wbShdn/1920-x-1080-gaming-cyberpunk-city-a2ho6vmdryz2x419.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    margin-top: auto;
    max-width: 100vw;
}
/* .bgc { 
    background-image: linear-gradient( rgba(0, 4, 40, 0.7), rgba(0, 78, 146, 0.75), rgba(189, 195, 199, 0.7))
} */
.bgc-2 {
    background-image: linear-gradient( #004e92, #bdc3c7, #2c3e50); 
}
.bgc-3 {
    background-image: linear-gradient( #bdc3c7, #000428, #004e92); 
}
.bgc-4 {
    background-image: linear-gradient( #2c3e50, #000428, #bdc3c7); 
}
/* End_Of-Body Styles */
/* Header Styles */
.icon {
    border-radius: 12px;
}
.logo {
    height: 8rem;
    scale: 1.055;
    border-radius: 5px;
}
.logo:hover {
    scale: 1.1;
}
.nav-link:hover {
    color: darkcyan !important;
    scale: 1.05;
}
.company-name {
    margin: auto;
    margin-left: 10rem;
    font-size: 5rem;
    font-style: italic;
    text-shadow: var(--mainBoxShadow);
}
.navbar {
    box-shadow: var(--mainBoxShadow);
}
/* End-Of_Header-Styling */
/* ====================================================================== */
/* Main_Section_Content */
.h3-game {
    margin-left: 2.8rem !important;
    
}
.mshadow {
    margin-bottom: 1rem;
    text-shadow: .45vw .45vw 2vw rgba(0, 0, 87, 11);
}
.about {
    font-size: 3rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8);
}
.abouts {
    font-size: 3rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8);
}
.paragraph {
    color: rgba(255, 255, 255, 0.8);
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
#Home {
    padding-top: 1rem;
}
.card{
    border: 12px solid black;
    border-radius: 4px;
    box-shadow: var(--mainBoxShadow);
}
.card-body {
    border-radius: 12px;
}
#view-product {
    margin: auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 10rem;
}
.btn {
    box-shadow: var(--mainBoxShadow);
}
.btn:hover {
    scale: 1.1;
}
.checkout-shit {
    overflow-y: hidden;
    margin-top: 5rem;
}
.table {
    border: 10px solid var(--alternativeColor);
}
.h1-checkout {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
    text-shadow: var(--mainBoxShadow);
}
#img-resize {
    height: 25rem;
    width: 15rem;
}
/* End-Of_Main_Section_Content */
/* ====================================================================== */
/* Main_Section-Contact */
#contact {
    margin-top: 5rem;
    margin-bottom: 3rem;
    padding-top: 5rem;
    padding-bottom: 3rem;
    box-shadow: var(--mainBoxShadow);
}
.Contact {
    margin-left: 13rem;
    margin-right: 13rem;
    border: 12px solid var(--alternativeColor);
    border-radius: 4px;
}
.contact-row {
    margin: auto;
    width: 30rem !important;
    
}
.form-control {
    width: 100% !important;
    margin: auto;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
}
.form-select {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.btn-outline-info {
    padding: 1rem 2.1rem;
    margin-left: 9.5rem;
    border-radius: 1rem;
}
/* End-Of_Main_Section-Contact */
/* ====================================================================== */
/* Footer-Styling */
footer {
    margin-top: 14.85rem;
    overflow-x: hidden;
}
/* End-Of_Footer-Styling */
/* ====================================================================== */
/* Index_Styling Ends */
/* ====================================================================== */
/* Media Queries-Responsiveness */
@media only screen and (max-width: 1000px) {
    .Contact {
        width: 90vw !important;     
        margin: auto;   
    }
    .logo {
        width: 8rem;
        height: 8rem;
        margin: auto;
    }
    .company-name {
        margin: auto;
        margin-left: 8rem;
        font-size: 3.5rem;
    }
}
/* ==================================================== */
@media only screen and (max-width: 900px) {
    .navbar {
        width: 100vw !important;
    }
    .company-name {
        margin: auto;
        margin-left: 7.5rem;
        font-size: 3.5rem;
    }
}
/* ==================================================== */
/* ==================================================== */
@media only screen and (max-width: 800px) {
    .navbar {
        width: 100vw !important;
    }
    .company-name {
        margin: auto;
        margin-left: 5rem;
        font-size: 3.5rem;
    }
}
/* ==================================================== */
@media only screen and (max-width: 720px) {
    .Contact {
        width: 85vw !important;     
        margin: auto;   
    }
    .logo {
        width: 4rem;
        height: 4rem;
        margin: auto;
    }
    .company-name {
        margin: 3rem;
        margin-left: 12rem;
        font-size: 2.75rem;
    }
    .navbar {
        margin: auto;
        width: 100vw !important;
    }
}
/* ==================================================== */
@media only screen and (max-width: 600px) {
    .navbar {
        width: 100vw !important;
    }
    .company-name {
        margin: auto;
        margin-left: 10rem;
        font-size: 2.5rem;
    }
}
/* ==================================================== */
@media only screen and (max-width: 500px) {
    .Contact {
        width: 95vw !important;     
        margin: auto;   
    }
    .logo {
        width: 4.5rem;
        height: 4.5rem;
        margin: auto;
    }
    .navbar {
        width: 100vw !important;
    }
    .company-name {
        margin: 2rem;
        margin-left: 9rem;
        font-size: 1.9rem;
    }
    footer {
        width: 100vw !important;
        margin: auto;
    }
}
/* ==================================================== */
@media only screen and (max-width: 400px) {
    .navbar {
        width: 100vw !important;
    } 
    .company-name {
        margin: 1rem;
        margin-left: 5.5rem;
        font-size: 1.8rem;
    }
}
/* ==================================================== */
@media only screen and (max-width: 300px) {
    .navbar {
        width: 100vw !important;
    } 
    .company-name {
        margin: 1rem;
        margin-left: 4.5rem;
        font-size: 1.4rem;
    }
    footer{
        width: 100vw !important;
        margin-left: auto;
    }
    #contact {
        width: 100vw !important;
        /* margin: auto; */
    }
}
/* ==================================================== */